@media screen and (min-width: 481px) {
    /* profile-sec css  */
    .theme-preview-body .profile-sec .client-info-wrp .client-info h2{
        font-size: 28px;
    }
    /* contact css */
    .theme-preview-body .contact-info-sec .contact-list li{
        padding: 10px 10px 10px 25px;
        gap: 20px;
    }
    .theme-preview-body .contact-info-sec .contact-list{
        max-width: 370px;
        width: 100%;
       margin: 0 auto;
    }
    .theme-preview-body .contact-info-sec .contact-list li a{
        font-size: 20px;
    }    
    /* service sec  */
    .theme-preview-body .service-slider{
        max-width: 380px;
        width: 100%;
        margin: 0  auto;
    }
    .theme-preview-body .service-card-inner .service-card-image{
        max-width: 135px;
        width: 100%;
    }
    .theme-preview-body .service-card-inner .service-content{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    /* payment sec css  */
    .theme-preview-body .payment-sec ul {
        max-width: 82%;
        width: 100%;
        margin: 0 auto;
    }
    /* more-info-sec css */
    .theme-preview-body .more-info-sec ul{
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    /* testimonial sec css */
    .theme-preview-body .testimonial-img-wrp.slick-current .testimonial-img{
        padding-top: 160%;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transform-origin: bottom;
            -ms-transform-origin: bottom;
                transform-origin: bottom;
    }
    /* download sec */
    .theme-preview-body .download-sec ul,
    .theme-preview-body .custom-text-sec .custom-text{
        max-width: 76%;
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px) {
    :root {
        --h1: normal 400 34px/1.1 var(--first-font);
        --h2: normal 400 22px/1.1 var(--second-font);
        --h3: normal 400 22px/1.2 var(--first-font);
        --h4: normal 400 20px/1.2 var(--first-font);
        --h5: normal 400 16px/1.2 var(--first-font);
        --h6: normal 400 16px/1.2 var(--first-font);
        --common-text: normal 400 14px/1.3 var(--first-font);
    }
    .theme-preview-body .form-control,
    .theme-preview-body input:not([type="submit"]),
    .theme-preview-body input:not([type="checkbox"]),
    .theme-preview-body input:not([type="button"]),
    .theme-preview-body input:not([type="radio"]),
    .theme-preview-body select,
    .theme-preview-body textarea,
    .theme-preview-body .theme-popup .form-group .form-input {
        padding: 10px 15px;
    }
    .theme-preview-body .container {
        padding: 0 15px;
    }
    .theme-preview-body .btn{
        font-size: 14px;
    }
    /* theme-popup css */
    .theme-preview-body .theme-popup-inner .theme-popup-content {
        padding: 15px;
    }
    .theme-preview-body .popup-header .popup-title h2 {
        font-size: 18px;
    }
    .theme-preview-body .theme-popup .form-group .form-input svg {
        height: 14px;
        width: 14px;
    }
    .theme-preview-body .popup-header .close-arrow-btn {
        height: 30px;
        width: 30px;
    }
    .theme-preview-body .popup-header .close-arrow-btn svg {
        height: 15px;
        width: 15px;
    }
    /* share-card-popup css */
    .theme-preview-body .share-card-popup .social-list {
        padding: 10px 15px;
    }
    /* profile-sec css */
    .theme-preview-body .profile-sec .client-info-wrp .client-image {
        height: 100px;
        width: 100px;
        margin: -60px auto 18px;
    }
    .theme-preview-body .profile-sec .client-info-wrp .client-info span{
        letter-spacing: 3px;
    }
    .theme-preview-body .profile-sec .client-info{
        margin-bottom: 15px;
    }
    /* contact css */
    .theme-preview-body .social-link-sec .social-link a,
    .theme-preview-body .contact-list .contact-image{
        width: 35px;
        height: 35px;
    }
    .theme-preview-body .social-link-sec .social-link a img ,
    .theme-preview-body .contact-list .contact-image img{
        width: 16px;
        height: 16px;
    }
    .theme-preview-body .social-link-sec .social-link-slider .slick-list{
        margin: 0 -8px;
    }
    /* product-sec css */
    .theme-preview-body .product-card-inner .product-content {
        padding: 15px;
    }
    /* business-hour-sec css */
    .theme-preview-body .business-hour-sec .hours-list li{
        padding: 0 0 10px;
    }
    /* appointment css */
    .theme-preview-body .appointment-form .appointment-btn,
    .theme-preview-body .payment-sec ul li a span{
        font-size: 16px;
    }
    .theme-preview-body .appointment-sec .appointment-form .date-picker {
        margin: 0 0 15px;
    }
    .theme-preview-body .appointment-sec .checkbox-custom {
        max-width: calc(50% - 10px);
    }
    /* more-info-sec css  */
    .theme-preview-body .more-info-sec ul li a {
        height: 40px;
        width: 45px;
    }
    .theme-preview-body .more-info-sec ul li a svg {
        width: 20px;
        height: 20px;
    }
    /* service sec  */
    .theme-preview-body .service-card .service-content .service-content-top {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .theme-preview-body .service-card .service-card-inner{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .theme-preview-body .service-card-inner .service-content,
    .theme-preview-body .testimonial-content-slider{
        padding: 15px 0 0;
        text-align: center;
    }
    .theme-preview-body .service-card-inner .img-wrapper {
        padding-top: 90%;
    }
    /* testimonial css */
    .theme-preview-body .testimonial-image-slider,
    .theme-preview-body .testimonial-content-slider{
        max-width: 100%;
    }
    .theme-preview-body .testimonial-image-slider .slick-list{
        margin: 0 -6px;
    }
    .theme-preview-body .testimonial-content-top {
        margin: 0 0 10px;
    }
    .theme-preview-body .testimonial-content-top h3{
        font-size: 18px;
    }
    .theme-preview-body .testimonial-content-bottom p{
        font-size: 16px;
    }
    .theme-preview-body .testimonial-img-wrp .testimonial-img{
        padding-top: 120%;
    }
    .theme-preview-body .testimonial-img-card {
        max-width: 290px;
        width: 100%;
        margin: 0 auto;
    }
    .theme-preview-body .testimonial-slider-wrp{
        padding: 0 0 20px;
    }
}