:root {
    --bs-border-color: #E5E5E5;
    --bs-body-color: #171717;
    --bs-body-font-family: 'Inter', sans-serif !important;
    --bs-secondary-rgb: 244, 244, 244;
    --bs-secondary-hover-rgb: 216, 216, 216;
    --bs-primary-hover-rgb: 48, 48, 48;
    --bs-btn-disabled-border-color: transparent;
    --bs-form-invalid-border-color: #000 !important;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #f8f8f8 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.form-control:focus {
    box-shadow: none;
}

.form-control {
    //color: #9D9DA1 !important;
    //color: darkgray !important;
}

/* Remove autofill background (Chrome/Safari) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #f5f6f7 inset !important;
    -webkit-text-fill-color: #171717 !important;
    transition: background-color 9999s ease-in-out 0s;
}


/* Eye icon addon */
.input-group-text {
    border: none !important;
    background-color: #f5f6f7 !important;
    padding: 0.5rem 0.75rem;
}

/* Remove border when side-by-side */
.input-group .form-control + .input-group-text {
    margin-left: -1px;
}

/* Autofill fix */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f5f6f7 inset !important;
    -webkit-text-fill-color: #171717 !important;
}

.sidebar-bottom {
    margin-top: auto;
}

.main-content {
    padding: 2rem;
    background-color: #f8f8f8;

    #pills-tab {
        min-width: max-content;
    }
}

.card {
    border: none !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);

    .card-header {
        padding: 1rem;
    }
}

.user-avatar {
    width: 36px;
    height: 36px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
}

.sidebar {
    width: 300px;
    min-height: 100dvh;
    background: #fff;
    border-right: 1px solid #eee;
    transition: transform 0.3s ease-in-out;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.toggle-sidebar-icon {
    cursor: pointer;
    width: 17px;
    display: none;
}


.main-content {
    padding: 2rem 3rem;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 300px;
}

.main-content.expanded {
    margin-left: 0;
}

.jquery-d-none {
    display: none;
}


.sticky-top {
    top: 0;
    background-color: #fff;
}

.add-image-block:not([data-target="banner"]) {
    width: 140px;
    height: 140px;
}

#coverPhotoUpload {
    width: 331.85px;

    .add-image-block {
        width: 100%;
        aspect-ratio: 21/9;
        //padding-top: calc(100% * 1080 / 2560); /* 42.1875% for 21:9 ratio */
        border-radius: 25px;

        img {
            border-radius: 25px;
        }
    }
}

#cropperContainer {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-auto {
    cursor: auto !important;
}

.dropzone {
    &.drag-over {
        border: 2px dashed #aaa;
        background-color: #f5f6f7;
        transition: 0.2s;
    }

    button {
        width: 40px;
        height: 40px;
    }

    a {
        svg {
            width: 14px;
            height: 14px;
        }
    }
}

.card-header, .card-body {
    padding: 26px;
}

#updateBusinessForm {
    .card-body {
        padding: 0;

        section {
            padding: 26px;
            border-bottom: solid 1px var(--bs-border-color);
        }
    }
}


.form-group {
    margin-bottom: 30px;

    .form-label {
        font-size: 18px;
    }
}

.social-row {
    img {
        width: 27px;
    }
}

.btn-white {
    background: #FFFFFF !important;
}

.fill-white {
    .st0 {
        fill: white;
    }
}

button {
    font-weight: 500 !important;
}

.fill-primary {
    .st0 {
        fill: var(--bs-primary-rgb);
    }
}

a {
    text-decoration: none !important;
}

.sidebar-nav {
    svg {
        width: 20px;
        height: auto;
    }
}

// Logo
.logo-img {
    max-height: 48px;
}

#sidebar .dropdown-menu * {
    font-size: 16px !important;
}

// Remove Bootstrap default caret
#sidebar {
    .dropdown-toggle::after {
        display: none;
    }

    // Insert your custom image
    .dropdown-toggle {
        position: relative;
        padding-right: 2rem; // Add space for the image

        &::before {
            content: '';
            background: url('/assets/images/icons/user_interface/dropdown_caret.svg') no-repeat center;
            background-size: contain;
            position: absolute;
            right: 1rem;
            top: 50%;
            width: 12px; // Customize size
            height: 12px;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }
}

#mainContent {
    .dropdown-toggle::after {
        content: none;
    }

    .section-title,
    .section-subtitle {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1rem;
        color: var(--bs-body-color);
    }

    .section-subtitle {
        font-weight: 400;
        color: #737373;
    }
}

.edit-profile-container {
    min-height: calc(100dvh - 6rem - 37px);
}

.sticky-top-32 {
    top: 2rem; // 8 * 16px = 128px
}

.card-edit-right-block {
    min-width: 450px;
}

.custom-box {
    aspect-ratio: 1 / 2; // width : height = 1:2
    //max-height: 900px;
    //min-height: calc(100dvh - 180px);
    width: 374px;
    margin-right: 76px;
    border-radius: 42px;
    border: 8px solid #000; // black border
    background-color: #fff; // white background
    position: relative;
    box-shadow: 0 0 0 1px #a3a3a3, 0 1rem 3rem rgba(0, 0, 0, .175); // 1px ring + normal shadow
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    /* Dark mode */
    @media (prefers-color-scheme: dark) {
        background-color: #171717; // Tailwind's neutral-900
    }
}

.custom-rounded-34 {
    border-radius: 34px;
}

.btn-icon {
    @extend .d-flex, .justify-content-between, .align-items-center, .gap-2;

    svg {
        width: 20px;
        height: auto;
        object-fit: contain;
    }

    &.delete-image,
    &.edit-image,
    &.btn-edit-social,
    &.btn-remove-social,
    &.item-management-btn,
    {
        svg {
            width: 32px;
        }
    }

    &.tab-btn {
        @extend .justify-content-center;
    }
}

.tab-btn {
    background: var(--bs-secondary) !important;

    &:hover {
        background: rgb(var(--bs-secondary-hover-rgb)) !important;
    }

    &.active,
    &:active {
        background: var(--bs-primary) !important;
        color: white !important;

        .st0 {
            fill: white;
        }
    }
}

.menu-link {
    background: white;

    &:hover {
        background: rgb(var(--bs-secondary-rgb));
    }

    &.active,
    &:active {
        background: var(--bs-primary);

        .st0 {
            fill: white;
        }

        span {
            color: white !important;
        }
    }
}


.btn-primary {
    &:hover {
        background-color: rgb(var(--bs-primary-hover-rgb)) !important;
    }

    &.active,
    &:active {
        background-color: var(--bs-primary) !important;
        color: white !important;

        .st0 {
            fill: white;
        }

        a {
            color: white !important;
        }
    }
}

.btn-white {
    @extend .border;

    &:hover {
        background: rgb(var(--bs-secondary-rgb)) !important;
    }
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.iti {
    display: block;
}

.color-swatch,
.color-picker-swatch {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0 0 1px #C1C4C7;

    &.color-picker-swatch {
        .color-input {
            width: 1px;
            height: 1px;
        }

        .pickr {
            @extend .form-control, .form-control-color, .p-0, .border-0, .position-absolute, .top-0, .start-0, .w-100, .h-100, .opacity-0, .cursor-pointer;
        }
    }
}

.color-picker-icon {
    width: 32px;
    height: 32px;
    pointer-events: none;
    display: block;
    margin: auto;
}

/* Always apply 1px border even when selected */
.color-swatch::before,
.color-picker-swatch::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 44px; /* 32 + 6*2 */
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: all 0.2s ease;
    pointer-events: none;
}

/* Active ring effect */
.color-swatch.selected::before,
.color-picker-swatch.selected::before {
    border-color: #000;
}


.form-switch {
    padding: 0;
    margin: 0;
    height: 22px;

    .form-check-input {
        width: 55px !important;
        height: 100%;
        margin: 0 10px 0 0;
    }
}


.item-management-btn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 0.5rem;
    cursor: pointer;
}


.generated-qr-code, #tempQrCode {
    width: 162px;
    height: 162px;
}

.tab-content > .tab-pane {
    display: block !important; /* Force all panes to stay in the DOM */
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevent interaction */
}

.tab-content > .tab-pane.active {
    height: auto;
    opacity: 1;
    pointer-events: auto;
    overflow: visible;
}

.tab-content > .tab-pane {
    transition: opacity 0.2s ease-in-out;
}


#add_qr_code_logo_btn {
    width: 100px;
    height: 100px;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.colored-social-icon {
    width: 24px;
    height: 24px;
}

.share-contact-form-fields {
    input.form-check-input[type="checkbox"] {
        margin: 0;
    }

    .form-switch {
        height: 15px;
        min-height: 15px;

        .form-check-input {
            width: 30px !important;
        }
    }
}

.sticky-bottom-bar {
    position: sticky;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    height: auto;
}

.sticky-bar-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: -webkit-linear-gradient(180deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
    background: -moz-linear-gradient(180deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
    background: -o-linear-gradient(180deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
    background: linear-gradient(180deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
    opacity: 0.5;
    pointer-events: none;
}

.sticky-bar-content {
    z-index: 1;
}

#contactBookPage {
    svg {
        width: 19px;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }

    .table .dropdown-toggle::after {
        display: none;
    }

    .filter-inputs {
        > *:not(:last-child) {
            width: 358px;
        }
    }

    .dataTable-container {
        border-bottom: 0;
    }

    .dataTable-top, .dataTable-bottom {
        display: none;
    }

    .table {
        th,
        td {
            padding: 5px 15px;
            line-height: 1;
        }

        th {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        th {
            font-weight: normal;
        }

        input[type="checkbox"] {
            width: 17px;
            height: 17px;
        }

        th:nth-child(1),
        td:nth-child(1) {
            width: 50px;
        }

        .dropdown {
            > a {
                width: 40px;
                height: 40px;
                padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
            }
        }

    }
}

#analytics_page {
    .card {
        padding: 18px;

        * {
            font-size: 18px;
        }
    }

    canvas {
        //width: 100% !important;
        //height: 100% !important;
    }

}

.card {
    .card-title {
        font-weight: 600;
        font-size: 18px;
    }
}

.more-info-icon {
    svg {
        width: 15px;
        height: 15px;
    }
}

#bodyOverlay {
    background-color: rgba(0, 0, 0, 0.5); /* #aaa with transparency */
    z-index: 1000; /* same as Bootstrap modal backdrop */
}

.page-title {
    margin-bottom: 0 !important;
    line-height: 37px;
    font-weight: 600;
}

#shareContactModalPreview {
    &:before {
        content: "";
        @extend .modal-backdrop, .position-absolute, .w-100, .h-100;
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 0;
    }

    &.d-block:before {
        opacity: var(--bs-backdrop-opacity);
    }

    .modal-dialog {
        z-index: 1060;
    }
}

#faqAccordion {
    .accordion-button:not(.collapsed) {
        background-color: transparent !important;
        box-shadow: none;
        border-color: transparent;
    }

    .accordion-button {
        transition: none;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

}

#socialsModal {
    .modal-dialog {
        max-width: 720px;

        .modal-body {
            * {
                font-size: 24px;
            }

            .modal-section-title {
                font-size: 21px;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.tooltip-inner {
    font-size: 12px;
    max-width: none !important;
    margin: 0 1rem;
}

.custom-tooltip {
    background: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;
    transform: translateY(-100%);
    position: absolute;
}

.custom-tooltip::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.social-card-row {
    img {
        width: 40px;
        height: 40px;
    }
}

.dropdown-item {
    --bs-dropdown-link-hover-color: var(--bs-body-color) !important;
    --bs-dropdown-link-active-color: var(--bs-body-color) !important;
    --bs-dropdown-link-hover-bg: #FFF !important;
    --bs-dropdown-link-active-bg: #FFF !important;

    &:hover,
    &:active {
        font-weight: bold;
    }
}

.nav-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll-left,
.scroll-right {
    @extend .d-flex, .justify-content-between, .align-items-center;
    height: 100%;
    border-radius: 0;
    z-index: 10;

    svg {
        width: 10px;
        margin: 0 10px;
    }

    .scroll-arrow-bg {
        position: absolute;
        inset: 0;
        z-index: 0;
        background: -webkit-linear-gradient(-90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
        background: -moz-linear-gradient(-90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
        background: -o-linear-gradient(-90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
        background: linear-gradient(-90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
        opacity: 0.5;
        pointer-events: none;
    }

    &.scroll-right {
        .scroll-arrow-bg {
            background: -webkit-linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
            background: -moz-linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
            background: -o-linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
            background: linear-gradient(90deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.55) 100%);
        }
    }
}

.toast {
    background: #737373 !important;
    border-style: Solid;
    border-color: #737373 !important;
    border-width: 0px !important;
    opacity: 0.97;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

input.is-invalid {
    background-image: none !important;
    box-shadow: 0 0 0 0.25rem #E5E5E5 !important;
}

.app-text-secondary {
    color: #737373 !important;
}

.gallery-card {
    height: 200px;
}

.file-placeholder {
    svg {
        width: 53px;
    }

    &:hover {
        background: #D8D8D8 !important;

        .placeholder-cls-1 {
            fill: #c4c4c4;
        }
    }

}


@media(max-width: 1600px) {
    :root {
        --bs-body-font-size: 14px;
    }
    * {
        font-size: 14px;
    }
    #mainContent {
        .btn {
            --bs-btn-padding-x: 8px;
            --bs-btn-padding-y: 4px;
        }

        #updateBusinessForm {
            .card-body {
                section {
                    padding: 1rem;
                }

                .add-image-block:not([data-target="banner"]) {
                    width: 120px;
                    height: 120px;
                }

                .social-row {
                    width: 50%;
                    flex: 0 0 auto;
                }
            }

            .color-swatch,
            .color-picker-swatch,
            .color-picker-icon {
                width: 24px;
                height: 24px;
            }

            .color-swatch::before,
            .color-picker-swatch::before {
                content: "";
                position: absolute;
                top: -4px;
                left: -4px;
                width: 32px; /* 32 + 6*2 */
                height: 32px;
                border-width: 2px;
            }
        }


        #analytics_page {
            .card {
                padding: 14px;
                border-radius: 8px;

                * {
                    font-size: 14px;
                }
            }
        }

    }
    .form-group {
        margin-bottom: 20px;

        .form-label {
            font-size: 14px;
        }
    }


    #coverPhotoUpload {
        width: 284.4px;

        .add-image-block {
            border-radius: 10px;

            img {
                border-radius: 10px;
            }
        }
    }
}

// smaller screen size Specific Adjustments
@media (max-width: 1499.89px) {
    .page-title {
        margin-left: calc(49px - 1rem);
        font-size: 25px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1045;
    }
    .toggle-sidebar-icon {
        margin-top: 43px;
        display: block;

        &#openSidebar {
            margin-left: 18px !important;
            margin-top: 31px;
        }
    }
    #mainContent {
        margin-left: 0 !important;
        padding: 21px 1rem;
    }
}

@media(max-width: 1199.89px) {
    #previewOnTabletBody {
        margin-bottom: 21px;
    }
    .custom-box {
        margin: 0;
    }
}

@media(min-width: 768px) {
    .fill-md-primary {
        .st0 {
            fill: var(--bs-primary-rgb);
        }
    }
    .text-md-primary {
        color: var(--bs-primary-rgb) !important;
    }
    .d-md-table-header-group {
        display: table-header-group !important;
    }
    .bg-md-transparent {
        background: transparent !important;
    }
    .btn-md-white {
        background: #FFFFFF !important;
    }
    .p-md-0 {
        padding: 0 !important;
    }
}


// Mobile Specific Adjustments
@media (max-width: 767.98px) {
    * {
        font-size: 13px;
    }
    .toggle-sidebar-icon {
        margin-top: 50px;
    }
    .card-edit-right-block {
        min-width: 300px;
    }

    #mainContent {

        #updateBusinessForm {
            .card-body {
                .add-image-block:not([data-target="banner"]) {
                    width: 90px;
                    height: 90px;

                    label {
                        img {
                            width: 28px;
                        }
                    }
                }

                #coverPhotoUpload {
                    width: 100%;
                }

                .social-row {
                    width: 100%;
                }
            }

        }

        #contactBookPage {
            .card {
                border: solid 1px #E5E5E5 !important;
                box-shadow: none !important;
            }

            .filter-inputs {
                > * {
                    width: 100%;
                }
            }
        }
    }


    #socialsModal {
        .modal-dialog {
            .modal-body {
                * {
                    font-size: 17px;
                }

                .modal-section-title {
                    font-size: 15px;
                }

                img {
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }

    .gallery-card {
        height: 127px;
    }

    .file-placeholder {
        svg {
            width: 34px;
        }
    }
    .dropzone {
        button {
            width: 30px;
            height: 30px;
        }
    }

    .section-title,
    .section-subtitle {
        font-size: 14px;
    }

    #previewOnMobile {

        > .modal-dialog {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin: 0 auto;
            max-width: none;
            width: 358px;
            height: 100%;
            bottom: 0;

            > .modal-content {
                box-shadow: none;
                margin: 0;
                border: 0;
                border-radius: 0;
                width: 358px;
                background: transparent;
                height: 90dvh;

                .custom-box {
                    border-radius: 0;
                    border: 0;
                    background: transparent;
                    max-height: none !important;

                    #businessCard {
                        border-radius: 8px;
                    }
                }

            }
        }
    }
}
