@media screen and (min-width: 481px) {
    .theme-preview-body .slick-prev {
        right: -10px;
    }

    .theme-preview-body .slick-next {
        left: -10px;
    }

    /* contact css */
    .theme-preview-body .contact-info-sec .contact-list li {
        padding: 10px 35px 10px 10px;
        gap: 20px;
    }

    .theme-preview-body .contact-info-sec .contact-list li a {
        font-size: 20px;
    }


    /* gallery css */
    .theme-preview-body .gallery-slider .slick-slide .gallery-card-inner {
        transform: scale(0.9);
        transition: all ease-in-out .5s;
        -webkit-transition: all ease-in-out .5s;
        -moz-transition: all ease-in-out .5s;
        -ms-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }

    .theme-preview-body .gallery-slider .slick-center .gallery-card-inner {
        position: relative;
        z-index: 1;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
    }

    .theme-preview-body .gallery-slider .slick-list {
        padding: 10% 0 !important;
    }

    .theme-preview-body .gallery-sec .slider-wrapper .slick-prev {
        right: 0;
    }

    .theme-preview-body .gallery-sec .slider-wrapper .slick-next {
        left: 0;
    }

    .theme-preview-body .gallery-sec .slider-wrapper {
        padding: 0 5%;
    }

    /* product-sec css */
    .theme-preview-body .product-card .product-card-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .theme-preview-body .product-card-inner .product-card-image {
        max-width: 35%;
        width: 100%;
    }

    .theme-preview-body .product-card-inner .product-card-image,
    .theme-preview-body .product-card-inner .img-wrapper {
        height: 100%;
    }

    .theme-preview-body .product-card-inner .product-content {
        height: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .theme-preview-body .product-card .product-content .product-content-top {
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
    }

    /* more-info-sec css */
    .theme-preview-body .more-info-sec ul li {
        max-width: 125px;
    }




}

@media screen and (max-width: 480px) {
    :root {
        --h1: normal 500 34px/1.2 var(--first-font);
        --h2: normal 500 27px/1.2 var(--first-font);
        --h3: normal 500 24px/1.2 var(--second-font);
        --h4: normal 500 20px/1.2 var(--second-font);
        --h5: normal 500 20px/1.2 var(--second-font);
        --h6: normal 500 16px/1.2 var(--second-font);
        --common-text: normal 400 14px/1.3 var(--second-font);
    }

    .theme-preview-body .popup-header .close-arrow-btn {
        height: 30px;
        width: 30px;
    }

    .theme-preview-body .popup-header .close-arrow-btn svg {
        height: 15px;
        width: 15px;
    }

    .theme-preview-body .container {
        padding: 0 15px;
    }

    .theme-preview-body .slider-wrapper {
        padding-bottom: 30px;
    }

    .theme-preview-body .arrow-wrapper {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }

    .theme-preview-body .arrow-wrapper .slick-arrow {
        position: unset;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }

    .theme-preview-body .section-title.common-title h2::before {
        bottom: 3px;
    }

    /* theme-popup css */
    .theme-preview-body .theme-popup-inner .theme-popup-content {
        padding: 20px 15px;
    }

    .theme-preview-body .popup-header .popup-title h2 {
        font-size: 18px;
    }

    .theme-preview-body .theme-popup .form-group .form-input svg {
        height: 14px;
        width: 14px;
    }

    /* share-card-popup css */
    .theme-preview-body .share-card-popup .social-list {
        padding: 10px 15px;
    }

    /* profile-sec css */
    .theme-preview-body .profile-sec .client-info-wrp .client-info span {
        letter-spacing: 2px;
        font-size: 16px;
    }

    .theme-preview-body .profile-sec .client-info-wrp p {
        font-size: 16px;
    }

    .theme-preview-body .profile-sec .client-info-wrp .client-image {
        height: 100px;
        width: 100px;
    }

    .theme-preview-body .profile-sec .client-info-wrp .client-info-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 15px;
        text-align: center;
        margin-bottom: 0;
    }

    /* contact css */
    .theme-preview-body .contact-list .contact-image {
        width: 40px;
        height: 40px;
    }

    /* gallery css  */
    .theme-preview-body .gallery-card {
        padding: 0 10px;
    }

    .gallery-sec .container {
        padding: 0;
    }

    /* product-sec css */
    .theme-preview-body .product-card .product-card-inner {
        padding: 15px;
    }

    .theme-preview-body .product-card-inner .product-content {
        padding: 15px 0 0;
    }

    .theme-preview-body .product-card-inner .img-wrapper {
        padding-top: 70%;
    }

    /* business-hour-sec css */
    .theme-preview-body .business-hour-sec .hours-list li p {
        font-size: 14px;
    }

    /* appointment css */
    .theme-preview-body .appointment-form .appointment-btn {
        font-size: 16px;
    }

    /* testimonial css */
    .theme-preview-body .testimonial-card .testimonial-card-inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .theme-preview-body .testimonial-card-inner .img-wrapper {
        max-width: 100%;
        padding-top: 50%;
    }

}